# intellij
**/src/intellij*/*.iml
**/src/intellij*/*.ipr
**/src/intellij*/*.iws
**/.cache
**/.settings

# sbt's target directories
**/project/
**/target/
**/test/macro-annot/target/
**/test/files/target/
**/test/target/
**/build-sbt/
**/local.sbt
**/jitwatch.out
**/.bsp


